<!-- lista svih radnika -->
<div class="col-md-12" style="margin-bottom: 20px;" ng-init="getAllEmployees()">
	<div class="input-group">
		<input type="text" class="form-control" name="x" placeholder="Pretrazi radnike..." ng-model="searchQuery.first_name">
		<span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		</span>
	</div>
	<table  ng-if="currentUser.user_type == 'RM'" class="table table-striped table-hover">
		<thead>
			<th>Ime</th>
			<th>Prezime</th>
			<th>Username</th>
            <th>Velicina obuce</th>
            <th>Velicina odece</th>
			<th>Tip radnika</th>
            <th>Region</th>
            <th>Opcija</th>
            <th>Smena</th>
            <th>Opcija</th>
		</thead>
        
		<tbody>
			<tr ng-repeat="m in employee | filter:searchQuery">
				<td>{{m.first_name}}</td>
				<td>{{m.last_name}}</td>
				<td>{{m.username}}</td>
                <td>{{m.clothes_size}}</td>
                <td>{{m.shoe_size}}</td>
				<td>{{m.user_type}}</td>
                <td>
                    <span ng-if="m.region">Trenutno {{m.region}} region</span>
                    <span ng-if="!m.region">Nije dodeljeno</span>
                    <select class="form-control" ng-model="m.updated_region">
                        <option ng-repeat="f in regions" value="{{f.id}}">Region {{f.table_count}} stolova</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-xs" ng-click="updateRegion(m)">
                    <span class="glyphicon glyphicon-add"></span> Potvrdi
                </button>
                </td>

                <td>
                    <span ng-if="m.region">Trenutno {{m.}} region</span>
                    <span ng-if="!m.region">Nije dodeljeno</span>
                    <select class="form-control" ng-model="m.updated_region">
                        <option ng-repeat="f in regions" value="{{f.id}}">Region {{f.table_count}} stolova</option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-xs" ng-click="">
                    <span class="glyphicon glyphicon-add"></span> Potvrdi
                </button>
                </td>
                
			</tr>
		</tbody>
	</table>
	<div>
	</div>
