<!-- Spisak porudzbina -->

<div class="col-md-12" style="margin-bottom: 20px;" ng-init="load()">
	<label class="label label-primary ke-label-title">Spisak porudzbina</label>
	<table class="table table-striped table-hover">
		<thead>
			<th>Br stavki</th>
			<th>Restoran</th>
			<th>Dogovorena cena</th>
			<th ng-if="currentUser.user_type == 'PR'">Cena za datu ponudu</th>
			<th ng-if="currentUser.user_type == 'PR'">Opcija</th>
		</thead>
		<tbody ng-repeat="m in requests">
			<tr>
				<td>{{m.id}}</td>
				<td>{{m.items.length}}</td>
				<td>{{m.price_accepted}}</td>
				<td ng-if="currentUser.user_type == 'PR'"><input type="text" placeholder="cena" ng-model="m.final_price" required></td>
				<td ng-if="currentUser.user_type == 'PR'">
					<button type="button" class="btn btn-default btn-xs" ng-click="offer(m)">
                    	<span class="glyphicon glyphicon-add"></span> Posalji
                	</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
	</div>
</div>

<div class="col-md-12" style="margin-bottom: 20px;" ng-init="loadOffers()">
	<label class="label label-primary ke-label-title">Ponude</label>
	<table class="table table-striped table-hover">
		<thead>
			<th>ID</th>
			<th>Cena ponudjaca</th>
			<th></th>
		</thead>
		<tbody ng-repeat="m in offers">
			<tr>
				<td>{{m.id}}</td>
				<td>{{m.price}}</td>
				<td>
					<button type="button" class="btn btn-default btn-xs" ng-click="">
                    	<span class="glyphicon glyphicon-add"></span> Prihvati
                	</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div>
	</div>
</div>