<div class="container-fluid ke-container">
    <div class="col-md-12">
        <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="remove(pr.selectedProduct)">
            <span class="glyphicon glyphicon-remove"></span> Obrisi
        </button>
        <div class="ke-title"> {{restaurant.name}} 
            <span class="label label-warning ke-data-label"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{restaurant.address_restaurant}}</span>
            <span ng-if="pr.selectedProduct.akcija" class="label label-danger pull-right">AKCIJA -{{pr.selectedProduct.akcija}}%</span></div>
        <div class="ke-address">{{pr.selectedProduct.prodavnica}}</div>
        <hr>
        <div class="ke-address">Dimenzije: <strong>{{pr.selectedProduct.sirina}}x{{pr.selectedProduct.duzina}}x{{pr.selectedProduct.visina}}</strong></div>
        <div class="ke-address">Tezina: <strong>{{pr.selectedProduct.tezina}}g</strong></div>
        <div class="ke-address">Zemlja proizvodnje: <strong>{{pr.selectedProduct.zemljaProizvodnje}}</strong></div>
        <div class="ke-address">Proizvodjac: <strong>{{pr.selectedProduct.nazivProizvodjaca}}</strong></div>
        <div><a href="#/employee/add">dodaj radnika</a></div>
        <div>
            <h3>
                <div ng-if="!pr.selectedProduct.akcija">
                            <label  class="ke-price">{{pr.selectedProduct.jedinicnaCena | currency : "€"}}</label>
                        </div>
                        <div ng-if="pr.selectedProduct.akcija">
                            <label class="ke-price ke-price-new">{{pr.selectedProduct.jedinicnaCena * (1 - pr.selectedProduct.akcija/100) | currency : "€"}}</label>
                            <label class="ke-price ke-price-old"><sup>{{pr.selectedProduct.jedinicnaCena | currency : "€"}}</sup></label>
                        </div>
            </h3>
        </div>
        <hr>
        <div>
            <!-- button za dodavanje providera -->
            <a class="btn btn-success btn-lg" ng-click="addProvider()">Dodaj Providera</a>
            <!-- button za dodavanje radnika -->
            <a class="btn btn-success btn-lg" ng-click="addRadnik()">Dodaj Radnika</a>
            
            <a class="btn btn-default btn-lg pull-right" ng-click="addToWishList(product.sifra)"><span class="glyphicon glyphicon-heart-empty"></span> Dodaj u listu zelja</a>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
						Opis
                    </h3>
            </div>
            <div class="panel-body">
                {{restaurant.description_restaurant}}

            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
						Recenzije
                    </h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="recenzija in recenzije | orderBy: '-ocena'">
                    <div class="testimonials">
                        <div class="active item">
                            <blockquote style="margin-bottom: 5px;">
                                <span class="pull-right" style="padding-right: 30px;">
                                    <button ng-if="recenzija.korisnik == currentUser.korisnickoime" type="button" class="btn btn-default btn-xs" ng-click="editRecenzija(recenzija)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button ng-if="currentUser.role == 'ADMIN'" type="button" class="btn btn-danger btn-xs" ng-click="removeRecenzija(recenzija)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                </span>
                                <p>{{recenzija.komentar}}</p>
                            </blockquote>
                            <div class="carousel-info">
                                <div class="pull-left">
                                    <span class="testimonials-name"><strong>{{recenzija.korisnik}}</strong></span>
                                    <span class="testimonials-post"> 
                                         - <span class="label label-warning"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{recenzija.ocena}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div ng-if="currentUser.role == 'BUYER'" class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Dodaj recenziju
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form name="form" ng-submit="createRecenzija(rec)">
                            <div class="modal-body">
                                <div ng-if="failure" class="alert alert-danger">
                                    <strong>Nesto nije u redu! Pokusajte ponovo.</strong>
                                </div>
                                <input class="col-md-4" type="number" placeholder="Ocena (1 - 5)" min="1" max="5" ng-model="rec.ocena" required>
                                <textarea placeholder="Vasa recenzija" ng-model="rec.komentar" required></textarea>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" value="Potvrdi">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- proba neka za Table -->
        <div>
            <table border="2">
                 <tr ng-repeat="row in table">
                    <td ng-repeat="column in row">
                        {{column}}
                    </td>
                </tr>
            </table>
        </div>

        

    </div>
    <div class="col-md-12">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">

        </div>
    </div>
</div>
