<table ng-if="currentUser.user_type == 'GU'" class="table table-striped table-hover" ng-controller="UserController">
    <thead>
        <th>Korisnicko ime</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Email</th>
        <th>Grad</th>
        <th>Drzava</th>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.city}}</td>
            <td>{{user.drzava}}</td>
        </tr>
    </tbody>
</table>