<div ng-if="currentUser" class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-12" style="margin-bottom: 20px;">
            <div class="input-group">
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Pretrazi restorane..." ng-model="searchQuery.name">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>

        <div ng-repeat="r in restaurants | filter:searchQuery" class="col-sm-6 col-md-6">
                <div class="thumbnail col-md-12">
                    <div class="ke-store col-md-12">
                        <div class="col-md-12">
                            <span class="ke-title"><a href="#/restaurant/{{r.id}}">{{r.name}}</a></span>
                            <span class="ke-address">{{r.description_restaurant}}</span>
                            <div class="ke-info">
                                <span class="label label-default ke-data-label"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{r.phone_restaurant}}</span>
                                <span class="label label-default ke-data-label"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{r.address_restaurant}}</span>
                                <span class="label label-default ke-data-label"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{r.owner.first_name}} {{r.owner.last_name}}</span>
                                
                            </div>
                            <div class="ke-info">
                                <span class="label label-warning ke-data-label"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> 4.6</span>
                                <span class="label label-info ke-data-label"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{s.recenzije.length}} Recenzija</span>
                            </div>
                            <div class="ke-info">
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>
