<!-- Modal Kategorija proizvoda -->
<div class="col-md-6 col-md-offset-3 ke-container" style="padding-top: 0px;">
    <div class="modal-header login-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Akcija {{akcija.datumZavrsetka}}</h4>
    </div>
    <form name="form" ng-submit="create(akcija)">
        <div class="modal-body">
            <div ng-if="failure" class="alert alert-danger">
                <strong>Nesto nije u redu!</strong>
            </div>
            <input type="number" placeholder="Popust (%)" ng-model="akcija.popust" min="5" max="100" required>
            <input type="date" min="{{todayDate | date:'yyyy-MM-dd'}}" ng-model="date" ng-change="do()" required>
            <select class="form-control" ng-model="akcija.proizvod" ng-options="option.sifra as option.naziv for option in products" required>
                <option ng-selected="selected" disabled value="">Izaberite proizvod...</option>
            </select>
            <h1 ng-if="akcija.popust && akcija.proizvod">Akcijska cena sa {{getProizvodCena(akcija.proizvod) | currency : "€"}} na {{getProizvodCena(akcija.proizvod) * (1 - akcija.popust / 100) | currency : "€"}}</h1>
            
        </div>
        <div class="modal-footer">
            <input ng-disabled="form.$invalid" type="submit" class="btn btn-primary" value="Dodaj">
        </div>
    </form>
</div>
