<!-- Dostavljac -->
<div class="col-md-6 col-md-offset-3 ke-container" style="padding-top: 0px;">
    <div class="modal-header login-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Dostavljac {{dostavljac.naziv}}</h4>
    </div>
    <form name="form" ng-submit="create(dostavljac)">
        <div class="modal-body">

            <div ng-if="failure" class="alert alert-danger">
                <strong>Nesto nije u redu!</strong>
            </div>
            
            <input type="text" placeholder="Sifra" minlength="3" ng-model="dostavljac.sifra" required>
            <input type="text" placeholder="Naziv" ng-model="dostavljac.naziv" required>
            <textarea placeholder="Opis kategorije" ng-model="dostavljac.opis"></textarea>
            <select class="form-control" ng-model="dostavljac.drzave" ng-options="option for option in allCountries" required multiple>
                <option ng-selected="selected" disabled value="">Izaberite drzave poslovanja...</option>
            </select>
            <input type="number" placeholder="Tarifni koeficijent (1.0 - 2.0)" ng-model="dostavljac.tarifa" step="0.01" min="1.0" max="2.0" required>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Potvrdi" ng-disabled="form.$invalid">
        </div>
    </form>
</div>
