<!-- Modal Kategorija proizvoda -->
<div class="col-md-6 col-md-offset-3 ke-container" style="padding-top: 0px;">
    <div class="modal-header login-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Kategorija proizvoda {{kategorija.naziv}} : {{kategorija.podkategorija}}</h4>
    </div>
    <form name="form" ng-submit="create(kategorija)">
        <div class="modal-body">
            <div ng-if="failure" class="alert alert-danger">
                <strong>Nesto nije u redu!</strong>
            </div>
            <input type="text" placeholder="Naziv" ng-model="kategorija.naziv" required>
            <textarea placeholder="Opis kategorije" ng-model="kategorija.opis"></textarea>
            <select class="form-control" ng-model="kategorija.podkategorija" ng-options="option.naziv as option.naziv for option in categories">
                <option ng-selected="selected" disabled value="">Izaberite podkategoriju...</option>
            </select>
        </div>
        <div class="modal-footer">
            <input ng-disabled="form.$invalid" type="submit" class="btn btn-primary" value="Dodaj">
        </div>
    </form>
</div>
