<!-- Modal Prodavnica -->
<div class="col-md-6 col-md-offset-3 ke-container" style="padding-top: 0px;">
    <div class="modal-header login-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">Prodavnica {{prodavnica.naziv}}</h4>
    </div>
    <form name="form" ng-submit="create(prodavnica)">
        <div class="modal-body">

            <div ng-if="failure" class="alert alert-danger">
                <strong>Nesto nije u redu!</strong>
            </div>
            
            <input type="text" placeholder="Sifra" minlength="3" ng-model="prodavnica.sifra" required>
            <input type="text" placeholder="Naziv" ng-model="prodavnica.naziv" required>
            <input type="text" placeholder="Adresa" ng-model="prodavnica.adresa" required>
            <select class="form-control" ng-model="prodavnica.drzava" ng-options="option for option in allCountries" required>
                <option ng-selected="selected" disabled value="">Izaberite drzavu...</option>
            </select>
            <input type="text" placeholder="Telefon" ng-model="prodavnica.telefon" required>
            <input type="email" placeholder="Email" ng-model="prodavnica.email" required>

            <select class="form-control" ng-model="prodavnica.odgovorniProdavac" required>
                <option ng-selected="selected" disabled value="">Izaberite odgovornog prodavca...</option>
                <option ng-repeat="user in users" ng-if="user.role == 'SELLER'" value="{{user.korisnickoime}}">{{user.korisnickoime}}</option> 
            </select>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Potvrdi" ng-disabled="form.$invalid">
        </div>
    </form>
</div>
